/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #002934;
  color: #E0EBEB;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}


.site-wrapper {
  width: 70%;
  margin: 0 auto;
}

.info-box {
  witdh: auto;
}

.info-box > .title {
  text-align: left;
  padding-left: 20px;
  border-bottom: medium solid white;
}

.info-box > .content {
  padding: 20px 10px 10px 10px;
  width: auto;
  vertical-align: middle;
}

.cover-img {
  width: 150px;
  border: medium solid white;
}

.short-bio {
  text-align: left;
  font-size: 20px;
}


