/*
 * Imports
 */

@import url(https://fonts.googleapis.com/css?family=Raleway:500);

/*
 * Base structure
 */

html,
body {
  font-family: 'Raleway', sans-serif;
  font-variant: normal;
  height: 100%;
  color: black;
  text-align: center;
}

p.thicker {
  font-weight: bolder;
}

p.thick {
  font-weight: bold;
}

.site-wrapper {
  max-width: 1000px;
  padding: 20px;
  width: 70%;
  margin: 0 auto;
}

.info-box {
  witdh: auto;
}

h2 {
  margin-top: 15px;
  color: black;
}

.info-box > .title {
  text-align: left;
  padding-left: 0;
  border-bottom: solid black;
  border-width: 2px;
  color: black;
}

.info-box > .title > h2 {
  margin-bottom: 3px;
}

.info-box > .content {
  padding: 20px 0 10px 0;
  width: auto;
  vertical-align: middle;
}

.cover-img {
  width: 150px;
}

.short-bio {
  text-align: left;
  font-size: 20px;
}

.reach-me > .row > a > {
  padding-left: 8px;
  padding-right: 8px;
}

.reach-me {
  padding-top: 40px;
}

.reach-me > .row {
  color: black;
  font-size: 20px;
  padding-top: 30px;
}

.reach-me > .row {
  color: black;
  padding-top: 10px;
}

.reach-me > .row > a {
  color: black;
  padding: 0 5px 0 5px;
}

.reach-me > .row > a:hover {
  color: #23527c;
}

.exp-txt {
  font-size: 16px;
}

.exp-txt > ul > li > ul > li {
  padding: 3px 0 3px 0;
}

ul {
  list-style-type: none;
  padding: 10px 0 5px 20px;
  margin-bottom: 0;
}

/* Mobile Rules */

@media (max-width: 1100px) {

  .short-bio {
    text-align: left;
    font-size: 18px;
  }

  .cover-img {
    width: 130px;
  }

  .content > .row. > .col-sm-8 {
    padding-left: 0;
  }

  .content > .row. > .col-sm-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .site-wrapper {
    width: 80%;
    margin: 0 auto;
  }

}

@media (max-width: 767px) {
  .reach-me {
    padding-top: 10px;
  }

  .site-wrapper {
    max-width: 1000px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
  }

}

@media (max-width: 500px) {
  .reach-me {
    padding-top: 10px;
  }

  .site-wrapper {
    max-width: 1000px;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
  }

}

