/*
 * Globals
 */

 @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Regular'), 
  local('Roboto-Regular'), 
  url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) 
  format('woff');
}

@import url(http://fonts.googleapis.com/css?family=Roboto:300);

/* Links */
a,

a:focus {
  color: black;
}

a:hover {
  color: blue;
}

p {
  font-family: Roboto;
}

/*
 * Base structure
 */

html,
body {
  color: #E0EBEB;
  text-align: center;
  height: 100%;
  background-color: #002934;
}

/*
 * Navbar
 */
 .navbar {
  border-bottom: medium solid white;
  margin-bottom: 10px;
}

.navbar-brand {
  font-size: 20px;
  color: white;
  text-decoration: none;
  padding-left: 5px;
}

.navbar-toggle {
  background-color: transparent;
}

.navbar-toggle .icon-bar {
  background-color: white;
}

.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}

.site-wrapper {
  display: table;
  width: 70%;
  height: 100%; /* For at least Firefox */
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  padding-top: 50px;
}

@media (max-width: 400px){
  .site-wrapper{
    width: 90%;
  }
}

/*
 * Cover
 */

.cover {
  padding: 30px;
  border: solid #fff;
  margin: auto;
  border-width: medium;
  border-radius: 20px
}

.img-circle {
  width: 125px;
}

.cover p {
  margin: 8%;
  margin-left: 20px;
  margin-right: 20px;
}

.social-img {
  margin: 5px;
}
/*
 * Footer
 */

 .footer {
  display: table-row;
  height: 10px;
}

/*
 * Panels
 */

.mdl-card {
  width: 100%;
  margin-bottom: 20px;
}

.mdl-card__media {
  text-align: left;
  padding-left: 20px;
  width: auto;
}

.mdl-card__supporting-text {
  width: auto;
}

.mdl-card__footer {
  border-top: thin solid;
  padding-top: 5px;
  padding-bottom: 5px;
}

.short-bio {
  font-size: large;
  padding-top: 10px;
}

.reach-me > h5 {
  margin-top: 16px;
}

.cover-img {
  vertical-align: middle;
}

h5 {
  margin-top: 16px;
}

h3 {
  margin: 15px 0 15px;
}

